body {
    font-family: 'Roboto', sans-serif;
    font-size: 150%;
    background-color: #232323;
    color: white;
}

h1 {
    text-align: center;
}

table {
    width: 50%;
    margin-bottom: 5%;
}

th {
    border: none;
    background-color: #121212;
    height: 3%;
    font-size: 115%;
    border-bottom-right-radius: 0%;
    border-top-right-radius: 0%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-right: 2%;
    width: 75%;
}

td {
    border: none;
    background-color: #121212;
    font-size: 115%;
    margin-left: 2%;
    border-bottom-right-radius:20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 25%;
}

#submitbtnforward {
    cursor: pointer;
    border: none;
    background: url("/images/next-icon.png") no-repeat;
    background-size : 100% 100%;
    width: 50px;
    height: 50px;
    filter: invert(100);
    transform: rotate(180deg);
}

#submitbtnback {
    cursor: pointer;
    border: none;
    background: url("../images/next-icon.png") no-repeat;
    background-size : 100% 100%;
    width: 50px;
    height: 50px;
    filter: invert(100);
}

button {
    border: none;
    border-radius: 20px; 
    font-size: 100%;
    margin-top: 5%;
}

#content {
    margin-top: 12%;
    text-align: center;
    transition: margin-top 1s;
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

#intro {
    text-align: center;
}

#cityprompt, #giornoprompt, #orarioprompt {
    margin-top: 2%;
    outline: none;
    text-align: center;
    font-size: 150%;
    border-radius: 50px;
    border: none;
}

#themeswitch {
    position: absolute;
    right: 1%;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 150%;
}


#descrizione {
    margin-top: 0%;
}

#DivMappaContainer {
    height: 500px;
}

#DivMappa {
    color: #000000;
    height: 500px;
    width: 100%;
}


.dynamicdiv {
    margin-bottom: 2%;
    text-align: center;
}


@media only screen and (max-width: 768px) {
    input {
        width: 100%;
    }  

    th {

        font-size: 75%;
    }
    
    td {
        font-size: 75%;
    }
}
